@import url('https://fonts.googleapis.com/css2?family= Kanit & display = swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;0,900;1,400;1,900&display=swap');

/* <!-- Author: Jhonson Marlon -->
 <!-- Supervisão: Antonio Neiva  --> */


* {
    padding: 0;
    margin: 0 auto;
}

*[hidden] {
    display: none;
}

html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

body {
    background-image: url(./assets/bg/cool-background2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #121111;
}

main, container, #login_IEL-RR {
    height: 100%;
}

/* -----------------------GERAL------------------------ */

#login_IEL-RR {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* ----------------------LADO ESQUERDO------------------- */

#left {
    background-image: url(./assets/bg/cool-background.png);
    background-repeat: no-repeat;
    background-size: 125%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}


.logo_login {
    padding-top: 50px;
    width: 200px;
    height: 100px;
}

.box_login {
    width: 400px;
    height: 350px;
    background-color: #24221fb4;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}

.content-box_login {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin: 50px;

}

.titulo_boxgeral {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
}

.titulo_box {
    padding-left: 8px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
}

.titulo_box img {
    width: 30px;
    margin: 0px;
}


.titulo_box h1 {
    font-family: 'Jost', sans-serif;
    font-size: 26px;
    margin: 0px;
    font-weight: normal;
}

.titulo_boxgeral p {
    padding-left: 12px;
    font-family: 'Jost';
    color: #c2c2c2;
    font-size: small;
}


form {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


div.input {
    margin-bottom: 24px;
    position: relative;
}

input {
    /* reset appeareance */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;



    outline: none;

    /* background-image: url(./assets/icons/user-icon.svg);
    background-repeat: no-repeat;
    background-position: 100%;
    background-position-y: -4px; */

}

.input_login {
    border: none;
    border-bottom: 1px solid #8d8d8d;
    background-color: transparent;
    padding: 5px 85px 5px 5px;
    color: #ffffff;
}

.border_login_sucess {
    border: none;
    border-bottom: 1px solid #ff0000;
    background-color: transparent;
    padding: 5px 85px 5px 5px;
    color: #ffffff;
}

.border_login_error {
    border: none;
    border-bottom: 1px solid #00ff33;
    background-color: transparent;
    padding: 5px 85px 5px 5px;
    color: #ffffff;
}


input~label {
    font-family: 'Jost';
    position: absolute;
    left: 0;
    top: -8px;
    transition: .5s;
}


input:focus~label, input:valid~label {
    transform: translateY(-10px);
    font-size: 0.8em;
    letter-spacing: 0.1em;
}

.input_button {
    cursor: pointer;
    font-family: 'Jost';
    font-size: 16px;
    color: #ffffff;
    padding: 5px 40px;
    border: unset;
    border-radius: 3px;
    background: #0464ac;
    box-shadow: rgba(138, 138, 138, 0.3) 0px 19px 38px, rgba(98, 98, 98, 0.22) 0px 15px 12px;
}


.input_user {
    background-image: url(./assets/icons/iconofc.svg);
    background-size: 23px;
    background-repeat: no-repeat;
    background-position: 99%;
    background-position-y: -2px;
}

.input_password {
    background-image: url(./assets/icons/iconofc2.svg);
    background-size: 23px;
    background-repeat: no-repeat;
    background-position: 99%;
    background-position-y: -2px;
}

.direitos_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    color: #ffffff;
    padding-bottom: 15px;
    font-family: 'Jost';
    font-size: 13px;
}


/* -----------------------LADO DIREITO------------------- */

#right {
    width: 200%;
}

#right img {
    width: 100%;
    height: 100%;
}

/* -------------RESPONSIVIDADE---------- */

@media (max-width: 600px) {

    #right {
        display: none;
    }

    #left {
        background-image: url(./assets/bg/cool-background.png);
        background-repeat: repeat;
        background-size: 125%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .logo_login {
        padding-top: 25px;
        width: 130px;
        height: 65px;
    }

    .box_login {
        width: 320px;
        height: 350px;
    }

    .input_login {
        padding: 5px 20px 5px 5px;
    }

    .input_user, .input_password {
        background-position: 99%;
    }

    .titulo_box h1 {
        font-size: 20px;
    }

    .titulo_boxgeral p {
        padding-left: 15px;
        font-size: 11px;
    }

    .direitos_login {
        font-size: 13px;
    }

}

@media (max-width: 830px) {

    #right {
        display: none;
    }

    #left {
        background-image: url(./assets/bg/cool-background.png);
        background-repeat: no-repeat;
        background-size: 125%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .logo_login {
        padding-top: 25px;
        width: 130px;
        height: 65px;
    }

    .box_login {
        margin: 0px 40px;
        width: 320px;
        height: 350px;
    }

    .input_login {
        padding: 5px 20px 5px 5px;
    }

    .input_user, .input_password {
        background-position: 99%;
    }

    .titulo_box h1 {
        font-size: 20px;
    }

    .titulo_boxgeral p {
        padding-left: 15px;
        font-size: 11px;
    }

    .direitos_login {
        font-size: 13px;
    }

}

@media (max-width: 1000px) {

    #right {
        display: none;
    }


    body {
        background-image: none;
    }

    #left {
        background-image: url(./assets/bg/cool-background.png);
        background-repeat: no-repeat;
        background-size: 125%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .logo_login {
        padding-top: 25px;
        width: 130px;
        height: 65px;
    }

    .box_login {
        margin: 0px 40px;
        width: 320px;
        height: 350px;
    }

    .input_login {
        padding: 5px 20px 5px 5px;
    }

    .input_user, .input_password {
        background-position: 99%;
    }

    .titulo_box h1 {
        font-size: 20px;
    }

    .titulo_boxgeral p {
        padding-left: 15px;
        font-size: 11px;
    }

    .direitos_login {
        font-size: 13px;
    }

}

@media (max-width: 1300px) {

    body {
        background-image: none;
    }

    #left {
        background-image: url(./assets/bg/cool-background.png);
        background-repeat: no-repeat;
        background-size: 125%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .logo_login {
        padding-top: 25px;
        width: 130px;
        height: 65px;
    }

    .box_login {
        margin: 0px 40px;
        width: 320px;
        height: 350px;
    }

    .input_login {
        padding: 5px 20px 5px 5px;
    }

    .input_user, .input_password {
        background-position: 99%;
    }

    .titulo_box h1 {
        font-size: 20px;
    }

    .titulo_boxgeral p {
        padding-left: 15px;
        font-size: 11px;
    }

    .direitos_login {
        font-size: 13px;
    }

}

@media (max-width: 1385px) {

    #left {
        background-image: url(./assets/bg/cool-background.png);
        background-repeat: no-repeat;
        background-size: 125%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .logo_login {
        padding-top: 25px;
        width: 130px;
        height: 65px;
    }

    .box_login {
        margin: 0px 40px;
        width: 320px;
        height: 350px;
    }

    .input_login {
        padding: 5px 20px 5px 5px;
    }

    .input_user, .input_password {
        background-position: 99%;
    }


    .titulo_box h1 {
        font-size: 20px;
    }

    .titulo_boxgeral p {
        padding-left: 15px;
        font-size: 11px;
    }

    .input_user {
        background-image: url(./assets/icons/iconofc.svg);
        background-size: 20px;
        background-repeat: no-repeat;
    }

    .input_password {
        background-image: url(./assets/icons/iconofc2.svg);
        background-size: 20px;
        background-repeat: no-repeat;

    }

    .direitos_login {
        font-size: 13px;
    }

}